@import '/styles';

.formLogin {
  h2 {
    margin: 0;
  }

  & > span {
    font-size: $fontSize-small;
    color: $grey-color;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }

  &__signup {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;

    span {
      font-size: $fontSize-small;
      color: $grey-color;
    }
  }
}
