@import '/styles';

.input {
  input {
    border: 1px solid #9b9b9b;
    padding: 10px;
    height: 43px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;

    &:focus {
      border: 1px solid $black-text-color;
      outline: none;
    }
  }
}
