// colors
$primary-color: #3483fa !default;
$primary-color-hover: #2968c8 !default;

$white-color: #ffffff !default;
$grey-color: #9b9b9b !default;

$bg-color: #fff159 !default;
$black-text-color: #000000cc !default;

// font-size
$fontSize-large: 1em !default;
$fontSize-medium: 0.875em !default;
$fontSize-small: 0.75em !default;

$boxShadow: 7px 3px 13px 0px #c7c7c7 !default;
